/* thanh task header */
.header{
    width: 100%;
    height: 10%;
    background-color: rgba(190, 196, 196, 0.925);
    display: flex;
    justify-content: space-evenly;
}
.header ul{
    list-style: none;
    display: flex;}
.header ul li{
    margin: 5px 15px;
}
/* Search */
.searchBody{
    margin-left: 350px;
}
.searchBody img{
    width: 200px;
}